body {
  margin: 0;
}

.section {
  width: 1200px;
  margin: 30px auto 0;
}

.comment {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgb(201, 236, 236);
  border-radius: 20px;
  margin-bottom: 10px;
}

.comment__namber {
  width: 40px;
  text-align: center;
}

.comment__body {
  width: 100%;
}

.comment__user-info {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  padding: 0 40px;
}

.user-name {
}

.user-email {
}

.comment__line {
  margin: 0 40px;
  border: 1px solid rgb(107, 107, 107);
}

.comment__text {
  padding: 10px 40px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pagination button {
  width: 25px;
  height: 25px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(115, 219, 219);
  margin: 2px;
  transition: 0.3s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color: aqua;
}

.pagination button.active {
  background-color: aqua;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.modal-loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(134, 134, 134, 0.355);
}

.active-loader {
  display: flex;
}

.loader {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 80px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  position: relative;
  background: linear-gradient(#ff3d00 30px, transparent 0) no-repeat;
  background-size: 2px 40px;
  background-position: 50% 0px;
  animation: spinx 5s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  width: 40px;
  left: 50%;
  height: 35px;
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 20px 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: lqt 5s linear infinite;
}
.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  animation: lqb 5s linear infinite;
}
@keyframes lqt {
  0%,
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 40px;
  }
  50.1% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% -40px;
  }
}
@keyframes lqb {
  0% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 40px;
  }
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 -40px;
  }
}
@keyframes spinx {
  0%,
  49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }
  51%,
  98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}